.card {
  margin: 20px;
  min-height: 85 * 2 + px;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #f0f0f0;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  > View {
    display: flex;
    align-items: center;
    > Text {
      font-size: 14px;
      margin-left: 10px;
    }
  }
}

.body {
  margin: 20px 0;
  padding: 0 20px;
  font-size: 16px;
  white-space: pre-wrap;
}

.btns{
  display: flex;
  
  >Button{
    margin: 0;
    flex-grow: 1;
    border: 0 !important;
    border-radius: 0 !important;
    >Text{
      margin-left: 5Px;
    }
  }
}
